/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* flex-container */
.insta-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 90%;
    height: 100vh;
}

.insta-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.insta-phone img {
    height: 43rem;
}

.login-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 40%;
    height: 20rem;
}

.login-box .user-box{
    position: relative;
}

.login-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input {
    width: 250px;
    height: 38px;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -5px;
    left: 0;
    font-size: 10px;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 350px;
    padding: 10px 0;
    margin: 0 0 10px;
    border: 1px solid lightgray;
}

/* select the child(x) of the main element */
.login-container:nth-child(1) {
    min-height: 19rem;
}

.insta-logo {
    height: 3rem;
}

input {
    height: 34px;
}

.login-btn .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 30px;
    background-color: #0095f6;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid lightgray;
}

.get-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('../img/AppStore.png');
}

.app-download:nth-child(2) {
    background-image: url('../img/PlayStore.png');
}

/* media queries */

@media (max-width: 875px) {

    .insta-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    .insta-phone {
        display: none;
    }

    .insta-login {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 40%;
    }

    .signup-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 63px;
        padding: 10px;
    }

    .download {
        width: 350px;;
    }
}